name: Skilled MLflow CI Workflow

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  train:
    name: Set up job
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python 3.12.7
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Check Env
        run: |
          python --version
          pip --version
          echo "Environment OK"

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow pandas scikit-learn

      - name: Run MLflow Project
        env:
          # Gunakan path relatif sederhana untuk tracking
          MLFLOW_TRACKING_URI: "mlruns"
          MLFLOW_EXPERIMENT_NAME: "RandomForest_BankMarketing_Basic_Farriz"
        run: |
          rm -rf mlruns
          mlflow run MLProject/ --env-manager local

      - name: Upload to Google Drive
        run: |
          echo "Simulated upload to Google Drive (skipped)"